header {
    display: flex;
    justify-content:space-between;
    align-items: baseline;
}

.logo {
    width: 60px;
}
nav {
    max-width: 50%;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
 nav ul {
     display: flex;
     justify-content: center;
     list-style: none;
     flex-wrap: wrap;
 }

 nav ul li {
     font-size: 1.2em;
     padding: 30px;
 }
.search {
    display:inline-block;
    width: 600px;
    height: 50px;
    background-color:white
    color:brown;
}

form {
    width: 20vw;
}

 .account {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     width: 25px;
 }

 .info {
     display: flex;
     justify-content: center;
     flex-direction: column;
     width: 50vw;
     background-color: cadetblue;
     padding-left: 20px;
     position:absolute;
     left: 25vw;

     
 }

 .button {
    align-self: center;
    width: 300px;
    /* padding-bottom: 15px; */
    text-align: center;
 }

